footer {
  background-color: #000000;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 120px 20px 60px 20px;
  gap: 100px;
}

footer p {
  color: #cccccc;
}

footer li,
footer li a {
  color: #ffffff;
  font-size: 2.25rem;
  line-height: 1.11;
  font-family: "Fira Sans Bold";
}

.titulo-footer + .titulo-footer {
  margin-top: 32px;
}

.direitos {
  color: #8f8f8f;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  footer li,
  footer li a {
    font-size: 1.5rem;
  }

  .direitos {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  footer li,
  footer li a {
    font-size: 1.1rem;
  }
}
